body {
    background-image: url('../img/vingadores-guerra-infinita.jpg');
    font-size: 0%;
}
body {
background-color: black;
}
h1 {
    color: #063535;
    font-size: 60px;
}

p {
   color: black;
   font-size: 10px;
}