body h1 {
    color: teal;
    font-size: 200px;
}

.titulo-principal {
    color: red;

}

#lista-de-compras {
    font-size: 100px;
    color:aquamarine;
}
.quadrinhos {
    font-size: Comic Sans Ms;
}

.fonte-dh {
    font-family: 'Rajdhani', sans-serif;
}